body {
    display: flex;
    flex-direction: column;
    margin: 200px;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: lightslategray;
    color: white;
}

#subtaskList {
    display: flex;
    flex-direction: column;
}

#subtaskList div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    padding: 10px;
}